.top_f{
    height: 5vh;
    background: rgb(52, 52, 52);
}
.container{
    display: flex;
    position: relative;
    height: 95vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.title{
    color: #7B7B7B;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 5%;
    position: absolute;
    top: 10%;
}

.card{
    margin: 30px;
    padding: 5%;
    background: blueviolet;
    height: 330px;
    width: 330px;
    border-radius: 15px;
    opacity: 0.8;
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
    /* filter: grayscale(100%); */
    transition: 0.5s;
}

.card:hover{
    opacity: 1;
    /* filter: grayscale(0%); */
    height: 345px;
    width: 345px;
    box-shadow: 0px 0px 0px transparent;
}
.card:hover + .sp{
    color: white;
}

.bor{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    transition: 0.5s;
}

.bot{
    background-image: url('../images/ofline.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.friend{
    background-image: url('../images/online.png');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

.all_in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.made{
    margin-top: 5%;
    background-attachment: fixed;
    position: absolute;
    bottom: 5%;
}

.sp{
    font-size: 30px;
    color: #7B7B7B;
    font-weight: 600;
    transition: 0.5s;
}

@media (max-width: 1300px) {
    .bor{
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    .card{
        width: 250px;
        height: 250px;
    }
    .card:hover{
        width: 275px;
        height: 275px;
    }
    .made{
        margin-top: 5%;
        background-attachment: fixed;
        position: absolute;
        bottom: 10%;
        width: 200px;
    }

    .title{
        margin-bottom: 0%;
        top: 5%;
    }
}