[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pyjwt = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
pyotp = "*"
qrcode = "*"
channels = "*"
django-channels-jwt-auth-middleware = "*"
daphne = "*"
requests = "*"
psycopg2-binary = "*"
channels_redis = "*"
django-prometheus = "*"

[dev-packages]

[requires]
python_version = "3.10"
