.all {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 1);
}

.main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.box {
	height: 40%;
}

.error_hada {
	color: rgb(210, 210, 210);
	font-size: 70px;
	text-align: center;
	margin-bottom: 120px;
	font-weight: 800;
	@apply font-bold;
}

.loader {
	position: relative;
	width: 120px;
	height: 90px;
	margin: 0 auto;
}

.loader:before {
	content: "";
	position: absolute;
	bottom: 30px;
	left: 50px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #2a9d8f;
	animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 7px;
	width: 45px;
	border-radius: 4px;
	box-shadow:
		0 5px 0 #f2f2f2,
		-35px 50px 0 #f2f2f2,
		-70px 95px 0 #f2f2f2;
	animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
	0% {
		transform: scale(1, 0.7);
	}

	40% {
		transform: scale(0.8, 1.2);
	}

	60% {
		transform: scale(1, 1);
	}

	100% {
		bottom: 140px;
	}
}

@keyframes loading-step {
	0% {
		box-shadow:
			0 10px 0 rgba(0, 0, 0, 0),
			0 10px 0 #f2f2f2,
			-35px 50px 0 #f2f2f2,
			-70px 90px 0 #f2f2f2;
	}

	100% {
		box-shadow:
			0 10px 0 #f2f2f2,
			-35px 50px 0 #f2f2f2,
			-70px 90px 0 #f2f2f2,
			-70px 90px 0 rgba(0, 0, 0, 0);
	}
}

.ball {
	position: relative;
	bottom: 50px;
	left: calc(100% - 20px);
	width: 50px;
	height: 50px;
	background: #fff;
	border-radius: 50%;
	animation: ball-move8234 3s ease-in-out 1s infinite alternate;
}

.ball::after {
	position: absolute;
	content: "";
	top: 25px;
	right: 5px;
	width: 5px;
	height: 5px;
	background: #000;
	border-radius: 50%;
}

.bar {
	width: 200px;
	height: 12.5px;
	background: #ffdaaf;
	border-radius: 30px;
	transform: rotate(-15deg);
	animation: up-down6123 3s ease-in-out 1s infinite alternate;
}

@keyframes up-down6123 {
	from {
		transform: rotate(-15deg);
	}

	to {
		transform: rotate(15deg);
	}
}

@keyframes ball-move8234 {
	from {
		left: calc(100% - 40px);
		transform: rotate(360deg);
	}

	to {
		left: calc(0% - 20px);
		transform: rotate(0deg);
	}
}

.go_home {
	@apply px-12 py-4 rounded-full;
	@apply transition duration-200;
	@apply shadow-white shadow-sm;
	@apply font-bold text-neutral-200 text-3xl uppercase;
	@apply hover:bg-neutral-200 hover:text-black hover:shadow-lg;
}
