.popUpContainer{
    position: absolute;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* filter: blur(4px); */
    backdrop-filter: blur(3px);
}


.popUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 620px;
    height: auto;    
    background-color: #343434;
    box-shadow: 0px 4px 40px 5px #000000;
     border-radius: 25px;
    position: relative;
    }

.close-popup {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}
.popUp h1{
    color: white;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 50px;
}
.popUp h2{
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: rgba(243, 243, 243, 0.61);
}
.popUp button{
    width: 138px;
    height: 37px;
    background: rgba(60, 255, 126, 0.7);    
    border-radius: 10px;
    border: none;
    
    font-family: 'Chakra Petch';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: rgba(243, 243, 243, 0.61);
    cursor: pointer;
    margin-bottom: 50px;
}
/* 
.popUp input{
    height: 37px;
    width: 60%;
    margin-bottom: 30px;
    margin-top: 30px;
} */

.popUp img{
 width: 50%;
 height: 300px;   
}

.allNumber{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 30px;
}
.threeNumber{
    /* background-color: blue; */
    display: flex;
}
.threeNumber input{ 
    border-radius: 10px;
    border: none;
    width: 50px;
    height: 50px;
    margin: 10px;   
}
.threeNumber input[type="text"]{
    color: black;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    outline: none;
}

.threeNumber input:focus{
    /* color: #3E0A61; */
    color: black;
}