@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'mesthine';
    src: url('../fonts/Mesthine.otf') format('opentype'),
        url('../fonts/Mesthine.ttf') format('truetype');
 }


 *{
    margin: 0;
    padding: 0;
    scrollbar-color: gray transparent;
    scrollbar-width: thin;
    user-select: none;
}


 ::-webkit-scrollbar {
    width: 5px;
}
  
 ::-webkit-scrollbar-track {
    background: transparent;
  }
  
 ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
  