.register-feild {
    width: 80%;
    height: 55px;
    margin: 30px 50px;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 592px) {
  .register-feild {
    height: auto;
    display: block;
  } 
  .register-input-container{
    height: 50px;
    margin-top: 30px;
  }
}


.register-input-container {
    background-color: #3F3A44;
    border-radius: 5px;
    display: flex;
    padding-top: 5px;
    
  }
  
  .register-input-container input[type="text"],
  .register-input-container input[type="password"] {
    padding-left: 20px;
    color: white;
    outline: none;
  }
  
  .register-input-container svg {
    width: 25px; 
    height: 20px; 
    cursor: pointer; 
    margin-top: 15px;
    padding-right: 5px;
}
span{
    color: #0275A3;
}

.cross-vector{
    position: absolute;
    top: 0;
    right: 60px;
    cursor: pointer;
}

/* .error-register{
  color: red;
} */


/* .error{
  border: 1px solid #c51244;
} */



@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}


.error{
  animation: shake 0.9s;
  background-color: red;
  margin: 30px 50px;
  width: 80%;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error svg{
  padding-bottom: 2px;
}
.error span{
  padding: 5px;
  color: white;
}
.error-input{
  animation: shake 0.9s ease-in-out;
  border: 1px solid red;
}
.error-input label{
  color: red;
}

.hidden{
  display: none;
}