.page{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url('../images/backGame.png');

    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

.container{

  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
}

.layer{
    flex: 1;
    height: 10;
    width: 80%;
    margin: auto;
    text-align: center;
}

.first{
    flex-grow: 0.5;

}

.second{
    flex-grow: 5;
    
}

.title{
    flex-grow: 0.5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2.5rem;
    font-weight: 700;
    color: #808080;

}

.all_in{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.all_in_two{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bord_part{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.mode_part{
    height: 100%;
}

.borad{
    height: 50rem;
    width: 90rem;
    background: url('../images/board1.png');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    position: relative;
    outline: 2px solid white;
    overflow: hidden;
}

.borad_cover{
    background: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    outline: 3px solid white;
    filter: blur(3px);
    position: absolute;
}

.f_borad_line{
    width: 45%;
    height: 0.16rem;
    background: linear-gradient(90deg, rgba(255,0,230,1) 0%, rgba(255,255,255,1) 0%, rgba(242,242,242,0) 100%);
    position: absolute;
    top: 50%;
}

.s_borad_line{
    width: 0.16rem;
    height: 45%;
    background: linear-gradient(180deg, rgba(255,0,230,1) 0%, rgba(255,255,255,1) 0%, rgba(242,242,242,0) 100%);
    position: absolute;
    left: 50%;
}
.t_borad_line{
    width: 45%;
    height: 0.16rem;
    background: linear-gradient(90deg, rgba(255,0,230,1) 0%, rgba(255,255,255,1) 0%, rgba(242,242,242,0) 100%);
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(180deg);
}

.l_borad_line{
    width: 0.16rem;
    height: 45%;
    background: linear-gradient(180deg, rgba(255,0,230,1) 0%, rgba(255,255,255,1) 0%, rgba(242,242,242,0) 100%);
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: rotate(180deg);
}

.score{
    width: 70%;
    height: 5rem;
    background: #4c4c4c;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 2px black;
}

.score_first{
    position: absolute;
    height: 100%;
    width: 55%;
    background-color: #181818;
    border-radius: 15px 0 0 15px;
    clip-path: polygon(
      0% 0%
    , 94% 0%
    , 88% 100%
    , 0% 100%);
}

.box{
    height: 15rem;
    width: 25rem;
    background: #ffffff47;
    border-radius: 20px;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.box span{
    color: white;
    font-size: 1.9rem;
    font-weight: 700;
}
.box p{
    color: #2E2E2E;
    font-size: 1rem;
    font-weight: 400;
}

.bazoka{
    padding: 10px 20px;
    background: brow;
    color: azure;
    background: linear-gradient(90deg, rgba(255, 76, 0, 1) 0%, rgba(194, 37, 97, 1) 100%);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}

.all_ferno{
    position: absolute;
    bottom: 7%;
    visibility: hidden;
}

.ferno{

    padding: 10px 20px;
    background: brow;
    color: azure;
    background: linear-gradient(90deg, rgba(255, 76, 0, 1) 0%, rgba(194, 37, 97, 1) 100%);
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.bazoka:hover{
    font-size: 2rem;
    padding: 10px 25px;
}

.ferno:hover{
    padding: 10px 25px;
}

.tool_box{
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: 10%;

}

.inside{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 7px;
    background: rgb(255 255 255 / 20%);
    color: #181818;
    border: 2px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
}

.tool_box_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.tool_box_but{
    display: flex;
    gap: 20px;
}

.tool_box_right span{
    font-size: 30px;
    padding: 15px 0;
    color: white;
}

.sound{
    margin-top: 20px;
    width: 100%;
    background: #3B3B3B;
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 20px 10px;
    border-radius: 10px;
}

.mode_title{
    position: absolute;
    top: 20%;
    font-size: 3rem;
    font-weight: 600;
    color: #808080;
}

.cla_title{
    position: absolute;
    top: 26%;
    font-size: 2rem;
    font-weight: 600;
    color: white;
    
}


.profile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: yellow;
}

@media (max-width: 2250px){
    .mode_part{
        height: 100%;
        display: none;
        visibility: hidden;
    }
    .borad{
        width: 100%;
        height: 100%;
    }
    .all_ferno{
        visibility: visible;
    }

}


.players{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    color: white;
    width: 100%;
}

.fi_players{
    margin: auto;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #808080;

}
.se_players{
    margin: auto;
    width: 49%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    color: #181818;
}

.player_picture{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.pr_player{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: cyan;
    overflow: hidden;
}

.versus{
    font-size: 2rem;
    font-weight: 700;
}

.sc_player{
    font-size: 2rem;
    font-weight: 600;

}

.ppo{
    position: absolute;
    height:100%;
    width: 100%;
}
