
.container {
	@apply w-full h-full flex justify-center items-center relative;
}

.label {
	@apply bg-[#303030] rounded-xl w-full h-full pl-6 flex flex-row;
}

.search_input {
	@apply bg-inherit h-full w-[80%] focus:outline-none font-bold text-[20px] text-[#cccccc];
	@apply placeholder:cursor-default placeholder:font-bold placeholder:text-[20px] placeholder:text-[#B4B4B4];
}

/* .search_input {
	@apply bg-inherit h-full w-[80%] focus:outline-none font-light text-2xl text-[#cccccc];
	@apply placeholder:cursor-default placeholder:font-light placeholder:text-2xl placeholder:text-[#B4B4B4];
} */

.search_icon {
	@apply h-full w-[20%] flex justify-center items-center;
}

/* .icon {
	height: 1.75rem;
	width: 1.75rem;
} */
.icon {
	height: 20px;
	width: 20px;
} 